@model IEnumerable<MvcGestaoLivros.Models.EmprestimoViewModel>

@{
    ViewBag.Title = "item do Emprestimos de Livros";
}

<h2>Livros do emprestimo </h2>







<div class="row align-items-end">
    <div class="form-group col-5 col-md-5 ">
        <p>
            <a href="@Url.Action("Index", "Emprestimos" )" class="btn btn-warning  btn-group-lg">
                <i class="glyphicon glyphicon-arrow-left"></i> Voltar
            </a>
        </p>
    </div> 
    <div class="form-group col-5 col-md-5 ">
        <p >
            <a href="@Url.Action("StatusOrder", "Livros", new { id = TempData["id_enco"] }  )" class="btn btn-info btn-group-lg">
                <i class="glyphicon glyphicon-list"></i> Detalhes Encomenda
            </a>
        </p>
    </div>
</div>





<table class="table">
    <tr>
    
        <th>
            @Html.DisplayNameFor(model => model.titulo_livro)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.genero_livro)
        </th>
     
  
        <th>
            @Html.DisplayNameFor(model => model.nome_autor)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.obs_emprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_emprestimo)
        </th>
    
    </tr>

@foreach (var item in Model) {
    <tr>
    
        <td>
            @Html.DisplayFor(modelItem => item.titulo_livro)
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => item.genero_livro)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.nome_autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obs_emprestimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_emprestimo)
        </td>

   
    </tr>
}

</table>
